<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Handlebars at work</title>
	</head>
	<body>
		<img src="img/logo.png"/>
		<h1>Hello There, {{name}}</h1>
		<form onsubmit="calculate()">
			<input id="w" placeholder="Weight in kg"></input>
			<input id="h" placeholder="Height in m"></input>
			<p id="result"></p>
		</form>
		<script>
			function calculate() {
				var weight = document.getElementById("w").value;
				var height = document.getElementById("h").value;
				var bmi = parseFloat(weight)/(parseFloat(height)*parseFloat(height));
				document.getElementById("result").innerHTML = bmi;
			}
		</script>
	</body>
</html>